<head>
<title>Atlas</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script type="module" crossorigin src="/static/index.2a32c1d2.js"></script>
  <link rel="modulepreload" href="/static/vendor.172c05ba.js" />
  <link rel="stylesheet" href="/static/index.55cb1e50.css" />
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>